<a href="https://colab.research.google.com/github/OrenBochman/jupyter-adventures/blob/master/SQL_dojo.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# A notebook to perfect SQL skills

In [72]:
# !pip3 install pymysql
# !pip3 install PyMySQL[rsa]
# !pip3 install cryptography

!pip3 install mysql-connector-python

from decimal import Decimal
from datetime import datetime, date, timedelta
import mysql.connector
from mysql.connector import (connection,  errorcode)

# import pymysql.cursors
# import cryptography
import pandas as pd
import pymysql
import unittest 
import hashlib

# seed the pseudorandom number generator
from random import seed
from random import random
from math import floor

Requirement already satisfied: mysql-connector-python in /usr/local/lib/python3.7/site-packages (8.0.19)
Requirement already satisfied: dnspython==1.16.0 in /usr/local/lib/python3.7/site-packages (from mysql-connector-python) (1.16.0)
Requirement already satisfied: protobuf==3.6.1 in /usr/local/lib/python3.7/site-packages (from mysql-connector-python) (3.6.1)
Requirement already satisfied: six>=1.9 in /usr/local/Cellar/ipython/7.5.0/libexec/vendor/lib/python3.7/site-packages (from protobuf==3.6.1->mysql-connector-python) (1.12.0)
Requirement already satisfied: setuptools in /usr/local/lib/python3.7/site-packages (from protobuf==3.6.1->mysql-connector-python) (41.6.0)

## DB Connection

In [0]:
#@title Example form fields
#@markdown Forms support many types of fields.

host = 'localhost' #@param {type: "string"}
port = 3307        #@param {type: "slider", min: 3306, max: 3316}
#number = 102      #@param {type: "number"}
user = 'root'     #@param {type: "string"}
passwd = "VelvetRed27"        #@param {type: "string",password :true}
db = "ParchPosely" #@param ["Employee","ParchPosely", "BowlingLeagueExample", "EntertainmentAgencyExample","RecipesExample","SalesOrdersExample","SchoolSchedulingExample"] {allow-input: true}
charset='utf8mb4'  #@param {type: "string"}
#@markdown ---

# connection
# conn = mysql.connector.connect(
#     host = host,
#     port = int(port),
#     user = user,
#     passwd = passwd,
#     db = db,
#     charset = charset,
#     auth_plugin='mysql_native_password',
#     cursorclass = pymysql.cursors.DictCursor)

In [74]:
try:
  cnx = mysql.connector.connect(user=user,
                                 password=passwd,
                                 host=host,
                                 port=port,
                                 database=db
                                )
except mysql.connector.Error as err:
  if err.errno == errorcode.ER_ACCESS_DENIED_ERROR:
    print("Something is wrong with your user name or password")
  elif err.errno == errorcode.ER_BAD_DB_ERROR:
    print("Database does not exist")
  else:
    print(err)
else:
  print("OK")
cursor = cnx.cursor()

OK

In [0]:
command="""

DROP DATABASE IF EXISTS `Employee`;

"""
cursor.execute(command)
cnx.commit()

In [0]:
command="""


CREATE DATABASE `Employee` DEFAULT CHARACTER SET 'utf8mb4';


"""
cursor.execute(command)
cnx.commit()

In [0]:
command="""

DROP TABLE IF EXISTS `Employee`.`employees`;

"""
cursor.execute(command)
cnx.commit()

In [0]:
create_table="""

CREATE TABLE `Employee`.`employees` (
  `employee_id` int(11) NOT NULL AUTO_INCREMENT,
  `name` varchar(24) DEFAULT NULL,
  `email` varchar(24) DEFAULT NULL,
  `password` varchar(24) DEFAULT NULL,
  PRIMARY KEY (`employee_id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
"""
cursor.execute(create_table)
cnx.commit()

In [0]:
insert_data="""

INSERT INTO `Employee`.`employees`
(`name`, `email`, `password`)
VALUES
('Thomas A. Anderson','neo4j@matrix.com','one'),
('Morpheus','morpheus@zion.com','nebuCHARnezer'),
('Trinity','3nity@zion.com','333'),
('Cypher','cy4@matrix.com','zer0');
"""
cursor.execute(insert_data)
cnx.commit()

In [80]:
 # Read a single record
sql = """
  SELECT `employee_id`, `name` ,`email`
  FROM `Employee`.`employees` 
  WHERE `password`=%s
"""

cursor.execute(sql, ('one',))
result = cursor.fetchone()
print(result)

(1, 'Thomas A. Anderson', 'neo4j@matrix.com')

# XML data

In [0]:
command="""

DROP TABLE IF EXISTS `Employee`.`XMLTest`;

"""
cursor.execute(command)
cnx.commit()

In [0]:
create_xml_table="""

CREATE TABLE `Employee`.`XMLTest`
(
	XMLDATA TEXT
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
"""

cursor.execute(create_xml_table)
cnx.commit()

In [0]:
insert_xml_table=""" 

INSERT INTO `Employee`.`XMLTest`

VALUES
(
  '<Students>
      <RollNumber>1</RollNumber>
      <Name>Anvesh</Name>
      <RollNumber>2</RollNumber>
      <Name>Neevan</Name>
   </Students>'
)
"""

cursor.execute(insert_xml_table)
cnx.commit()

In [0]:
command="""  
    CREATE VIEW `Employee`.`TempXMLData` AS
    SELECT   
        ExtractValue(XMLText,'//RollNumber[$i]') RollNumber ,
        ExtractValue(XMLText,'//Name[$i]') RName 
    FROM
        `Employee`.`XMLTest`
    ; 	
"""
#cursor.execute(command)

In [0]:
command=""" 
	INSERT INTO Employee.TempXMLData 
	SELECT RNumber, RName; 	
        SET i = i+1;  	
    END WHILE;         
    SELECT 
	RollNumber
        ,Name
    FROM Employee.TempXMLData
    WHERE RollNumber <>'';   
"""
#cursor.execute(command)

# Clean up

In [0]:
drop_db="""
DROP DATABASE IF EXISTS `Employee`
"""
cursor.execute(drop_db)

In [0]:
cnx.close()